---
layout: page
title: "About"
description: "who am i"
header-img: "img/about.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        That's what I do, I drink and I know things.
    </blockquote>
    当我第一次听到小恶魔的这句话时，我就觉得这个说法我喜欢：第一，酒是好东西；第二，知识是好东西。<br><br>
    这里是Readm的博客，主要记录一些个人笔记和碎碎念。因为发现作为一个程序员需要记录的事情还真是蛮多的（摊手）。当然也是希望能有一个重新的开始，以一个全新的身份和状态。（也更容易删掉黑历史<br><br>
    现在是信息安全方向的研究生一枚，主要在芯片和系统层面的防御。<br><br>
    因为曾经是物理专业可能也会记录一些物理的杂事，还有二次元吧，也许。
    <br>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        That's what I do, I drink and I know things.
    </blockquote>

    <p>
        When I first heard it from Imp, I really like it: First, alcohol is good; second, knowledge is good. (And third, it simple enough for my pool English to understand)<br><br>
        This is Readm. This blog is for some personal note, as I found a programmer need to write a lot.<br><br>
        I major in information security, focus on chip and system layer.<br><br>
        And as I'm a physics bachelor, I may write some about physics. And ACG, maybe.
    </p>


</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
